body{
    background-image: url(./gray-wall.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
}

header{
    font-size: 40px;
    text-align: center;
    background: linear-gradient(to left ,black , white);
}
.container{
    border: 2px solid gray;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.Question{
    font-size: 25px;
}
.Answer{
    font-size: 25px;
    color: blue;
   
}
.btn{
    width: 150px;
    height: 50px;
    background-color: #884A39;
    color: aliceblue;
    border: 2px solid #884A39;
    border-radius: 10px;

}
.box{
    height: 200px;
    width: 200px;
    margin: 20px;
    
}
.box1{
    background-color: #5C8984;
}
.box2{
    background-color: #545B77;
}
.box3{
    background-color: #374259;
}
table{
   width: 100%;
   border-collapse: collapse;
    
}
table,td,th{
    border: 1px solid black;
    padding: 10px;
    font-size: large;
}
th{
    background-color: #025464;
    color: #F9F5F6;
}tr:nth-child(even){
    background-color: #f2f2f2;
}



